<%- include("templates/header") %>

<h1>Matching game!</h1>
<h3 id="score"></h3>
<h3 id="timer"></h3>
<div id="game_grid">
  <% for(let i = 0; i < cards.length; i++) { %>
    <%- include("templates/card", {pokemon: cards[i].pokemon, image: cards[i].image}) %>
  <% } %>
</div>


<%- include("templates/footer") %>